/*======== Reset CSS ========*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
body{
    background: var(--blue);
    font-family: 'Inter', sans-serif;
}
img{
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
}
/*========= Global CSS =========*/
:root{
    --blue: #182D5A;
    --light_blue: #525558;
    --white: #ffffff;
    --white_layer: rgba(255, 255, 255, .5);
    --black_layer: rgba(0, 0, 0, .6);
    --light_white: #EEEEEE;
    --light_black: #45464E;
    --black30: #303030;
    --black: #000000;
}
.p_content_bold{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);
    opacity: .8;
}
.p_light_text{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);
    opacity: .5;
}
.p_light_small{
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);
    opacity: .5;
}

.h_sub_title{
    font-size: 14px;
    line-height: 10px;
    font-weight: 700;
    text-align: left;
    color: var(--blue);
    margin-bottom: -.5rem;
    letter-spacing: 0em;
    transition: .3s;
}
.h_sub_title:hover{
    opacity: .7;
}
.h_sub_title2{
    letter-spacing: 0em;
    line-height: 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    color: var(--blue);
    margin-top: -.5rem !important;
    transition: .3s;
}
.h_sub_title2:hover{
    opacity: .7;
}
.h_title_blue{
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: var(--blue);
}

.mycontainer{
    width: 100%;
    padding: 0;
}
.btn_blue{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding: .7rem 1rem;
    color: var(--white);
    background: var(--blue);
    text-decoration: none;
    border: 1px solid var(--blue);
    transition: .3s;
    outline: 0;
    border-radius: .5rem;
}
.btn_blue:hover{
    background: var(--white);
    color: var(--blue);
}

.display_block{
    display: block !important;
}
.display_none{
    display: none !important;
}
.scale_0{
    transform: scale(0) !important;
}

/*========== Styling Start ==========*/
.main_section{
    padding: 0;
    margin: 0;
}
.symtoms_section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: auto;
}
.main_section .mycontainer .main_body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

/*============== Sitebar ===============*/
.sidebar{
    background: url('../images/bgImg/sideBar.png'), no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 250px;
    width: 25%;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    display: block;
}
.offcanvas{
    background: url('../images/bgImg/sideBar.png'), no-repeat;
    background-size: cover;
    background-position: center;
}
.offcanvas::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black_layer);
    z-index: -1;
}
.offcanvas-header button{
    background: var(--white);
    border: 1px solid var(--white);
    border-radius: .5rem;
    padding: .1rem 6px 0 6px;
    transition: .3s;
}

.offcanvas-header button:hover{
    background: transparent;
}
.offcanvas-header button:hover i{
    color: var(--white);
}
.offcanvas-header button i{
    color: var(--blue);
    font-size: 1.2rem;
}
.offcanvas-header{
    margin-bottom: 2rem;
}
 .hospital_content_header .offcanvas_toggle_btn{
    position: unset;
 }
.offcanvas_toggle_btn{
    background: var(--blue);
    border: 1px solid var(--blue);
    border-radius: .5rem;
    padding: .2rem .3rem 0 .3rem;
    position: absolute;
    left: 2rem;
    top: 2.1rem;
    z-index: 1;
    transition: all .3s;
}
.offcanvas_toggle_btn i{
    color: var(--white);
    font-size: 1.4rem;
}
.offcanvas_toggle_btn:hover{
    background: var(--white);
}
.offcanvas_toggle_btn:hover i{
    color: var(--blue);
}
.offcanvas-body{
    height: 100vh;
    overflow-y: auto;
    position: relative;
    width: 100%;
}

.sidebar_inner_main{
    background: var(--black_layer);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 2rem;
}

.main_content{
    background: url('../images/bgImg/mainbg.png'), no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100Vh;
    overflow-y: auto;
    position: relative;
}
.sidebar .sidebar_inner_main .logo_div{
    text-align: center;
    margin-bottom: 6rem;
    padding-left: 0;
}
.sidebar .sidebar_inner .nav-item{
    width: 90%;
    margin-bottom: .1rem;
    border-radius: .5rem;
    transition: .3s;
    padding-left: 1.5rem;
    display: block;
}
.sidebar .sidebar_inner .nav-item .nav-link_aside{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--white);
    padding-left: 0.5rem !important;
    transition: .3s;
    text-decoration: none;
    display: block;
    border-radius: .5rem;
    padding: 0.5rem;
}
.sidebar .sidebar_inner .nav-item a img{
    margin-right: 0.2rem;
    margin-top: -0.3rem;
}
.sidebar .sidebar_inner .nav-item:hover .nav-link_aside{
    font-size: 15px;
}

.sidebar .sidebar_inner .nav-item .active{
    background: var(--white);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--blue);
    width: 100%;
}
.sidebar .sidebar_inner .nav-item .active img{
    background: var(--blue);
}


/*======== Mobile Sitebar =======*/
#myoffcanvas .offcanvas-body .nav-item .nav-link_aside.active{
    background: var(--white);
    font-size: 14px;
    font-weight: 700 !important;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--blue) !important;
    width: 100%;
    padding-left: 1rem;
}
#myoffcanvas .offcanvas-body .nav-item{
    width: 90%;
    border-radius: .5rem;
    transition: .3s;
}
#myoffcanvas .offcanvas-body .nav-item:hover .nav-link_aside{
    font-size: 15px;
}
#myoffcanvas .offcanvas-body .nav-item .nav-link_aside{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--white);
    padding-left: 0.5rem !important;
    transition: .3s;
    text-decoration: none;
    display: block;
    border-radius: .5rem;
    padding: 0.5rem;
}
.offcanvas-body .nav-item a img{
    margin-right: 0.2rem;
    margin-bottom: 0.3rem;
}
/*=========== Main Content ==========*/

/*========== Hospital List =========*/
.hospital_content{
    background: var(--blue);
    height: 100%;
    min-height: 100vh;
    z-index: 11;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}
.hospital_header_main{
    width: 100%;
    max-width: 100%;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    box-shadow: 0 0 2px 0 var(--blue);
    z-index: 1;
}
.hospital_content_header{
    background: var(--white) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2%;
    padding: 1rem;
    border-radius: .5rem;
}

.hospital_content_header .hospital_search{
    width: 100%;
    position: relative;
}
#h_top_search_icon{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    display: none;
}
#h_top_search_icon i{
    color: var(--blue);
}

.hospital_content_header .hospital_search form .h_search_bar{
    width: 100%;
    padding: .8rem 1rem;
    border-color: transparent;
    border-radius: .5rem;
}
.hospital_search form .h_search_bar:focus{
    outline: 1px solid var(--blue);
    /* outline: none; */
}
.hospital_search form .h_search_bar:focus #h_top_search_icon{
    display: block;
}

.hospital_search form .h_search_bar:focus::placeholder{
    opacity: .5;
}
.hospital_search form .h_search_bar::placeholder{
    color: var(--blue);
    font-size: 1.2rem;
    font-weight: 900;
    opacity: 1;
}
.hospital_content_header .hospital_profile{
    width: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}
.hospital_content_header .hospital_profile p{
    margin-bottom: 0;
    cursor: pointer;
    color: var(--blue);
}
.hospital_content_header .hospital_profile a{
   width: 32px;
   height: 32px;
}
.hospital_content_header .hospital_profile a img{
   width: 100%;
}
.hospital_content .hospital_content_body{
    margin: 1rem 3rem;
    background: var(--light_white);
    border-radius: .3rem;
    display: none;
}
.hospital_content_body .hospital_body_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    column-gap: 2%;
}
.hospital_body_top .hospital_top_left{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    width: 70%;
}
.hospital_body_top .hospital_top_right{
    width: 28%;
}
.hospital_top_left .top_left_inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    background: var(--white);
    border-radius: .5rem;
    box-shadow: 0 0 1px 0 var(--blue);
    padding: .3rem;
}
.top_left_inner p a{
    text-decoration: none;
}
.top_left_inner .h_location_i{
    border-right: 2px solid var(--blue);
    padding: .5rem 0;
}
 
.top_left_inner .h_location_i i{
    color: var(--blue);
    font-size: 1.2rem;
    padding: 0 1rem;
    transition: .3s;
}
.top_left_inner .h_location_i i:hover{
    opacity: .7;
}
.top_left_inner .h_location_div p{
    margin-bottom: -.5rem;
}
.top_left_inner .h_location_div{
    margin-bottom: 0.5rem;
}
.hospital_top_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hospital_top_right .h_search_div{
    background: var(--blue);
    width: fit-content;
    border-radius: .5rem;
    transition: all .3s;
    border: 1px solid var(--blue);
}
.hospital_top_right .h_search_div:hover{
    background: var(--white);
}
.hospital_top_right .h_search_div:hover .h_nearest_btn p{
    color: var(--blue);
}
.hospital_top_right .h_search_div:hover .h_nearest_btn{
    border-color: var(--blue);
}
.hospital_top_right .h_search_div:hover .filter_img img{
    background: var(--blue);
}
.hospital_top_right .h_search_div .top_right_filter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
    text-decoration: none;
    padding: .3rem 1rem;
}
.top_right_filter .h_nearest_btn p{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
}
.top_right_filter .h_nearest_btn{
    border-left: 2px solid var(--white);
    padding: 0 1rem;
}
.top_right_filter .filter_img{
    padding: 0 .3rem;
}
.hospital_top_right .top_right_search button{
    border: 1px solid var(--blue);
    background: var(--blue);
    transition: .3s;
    padding: 0.5rem 1rem;
    color: var(--white);
    font-size: 1.3rem;
    border-radius: .5rem;
}
.hospital_top_right .top_right_search button:hover{
    background: var(--light_white);
    color: var(--blue);
}


/*----------- Hospital List single ------------*/
.h_location_city, .h_location_country, .h_doctor_count{
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--light_blue);
}
.h_list_ul{
    margin-left: 0;
    padding-left: 0;
}
.h_list_ul .h_list_single{
    margin: 1rem;
    background: var(--light_white);
    border-radius: 0.5rem;
    padding: 1.5rem;
}
.h_list_single .h_single_content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.h_single_content .h_photo_data .h_photo{
    width: 137px;
    height: 137px;
    background: var(--white);
    border-radius: 50%;
}
.h_single_content .h_photo_data .h_photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.h_single_content .h_photo_data{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5rem;
}
.h_single_locate_div p{
    margin-bottom: 0;
}
.h_data .h_doctor_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1.5rem;
}
.h_single_rating .h_rating_btn{
    background: var(--white);
    border-radius: .5rem;
    padding: 0.1rem .5rem;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
}
.h_single_rating .h_rating_btn .h_rating_count{
    font-size: 14px;
    font-weight: 700;
    color: var(--blue);
}
.h_single_rating .h_rating_btn i{
    font-size: 1rem;
    color: var(--blue);
}
.h_single_btn .btn_blue{
    width: fit-content;
    margin-left: auto;
    display: block;
}

/*-------------- Hospital paginate -------------*/
.h_paginate{
    text-align: center;
}
.h_paginate .h_paginate_list .pnr{
    background: transparent;
    border-color: transparent;
    outline-color: transparent;
    padding: .1px 0.2rem;
    border-radius: .5rem;
}
.h_paginate .h_paginate_list .pnr span{
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    transition: .3s;
}
.h_paginate .h_paginate_list .pnr i{
    font-size: 1rem;
    color: var(--white);
    transition: .3s;
}
.h_paginate .h_paginate_list .pnr:hover{
    background: var(--white);
}
.h_paginate .h_paginate_list .pnr:hover i{
    color: var(--blue);
}
.h_paginate .h_paginate_list .pnr:hover span{
    color: var(--blue) !important;
}
.h_paginate_list .h_paginate_number{
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    border-color: transparent;
    outline-color: transparent;
    background: var(--blue);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    border-radius: .5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    transition: all.3s;
}
.h_paginate_list .h_paginate_number:hover{
    background: var(--white);
    color: var(--blue);
}
.h_paginate_list .h_paginate_number.active_pagi{
    background: var(--white);
    color: var(--blue);
}

/*======== Symtomp Design Start ===========*/
.main .symtomp_main{
    height: 100vh;
    background: var(--blue);
}
.symtomp_content{
    height: 100vh;
    overflow-y: auto;
    border-radius: 1rem;
}
.symtomp_content .symtomp_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    padding: 1rem;
    position: sticky;
    top: 0;
    margin: 1rem 1rem 0 1rem;
    border-radius: .5rem .5rem 0 0;
}
.symtomp_header .symtomp_h_form_div form{
    position: relative;
}
.symtomp_header .symtomp_h_form_div form .symptom_search{
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: 1px solid var(--blue);
    border-radius: .5rem;
}
.symtomp_header .symtomp_h_form_div form .symptom_search_btn{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0 ,-50%);
    border-color: transparent;
    background: transparent;
    outline: none;
    transition: all .3rem;
}
.symptom_search_btn_profile{
    background: transparent;
    outline-color: transparent;
    border-color: transparent;
}
.symtomp_header .symtomp_h_form_div form{
    display: none;
}
.symptom_search_btn_profile i{
    font-size: 1.2rem;
    color: var(--blue);
}
.symtomp_h_form_div form .symptom_search_btn i{
    font-size: 1.2rem;
    color: var(--blue);
    transition: all .3s;
}
.symtomp_h_form_div form .symptom_search_btn i:hover{
    opacity: .7;
}
.symtomp_header .symtomp_h_form_div form .symtomp_id_top{
    display: flex;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--light_black);
    padding-left: 0.5rem;
    border-color: transparent;
    outline-color: transparent;
    outline: none;
}
.symtomp_body{
    padding-bottom: 1rem;
}
.symtomp_body .symtomp_body_inner{
    padding: 1rem;
    background: var(--white);
    text-align: center;
    border-radius: 0 0 .5rem .5rem;
    margin: 0 1rem;
    min-height: calc(100vh - 6rem);
} 
.symtomp_body_inner .symtomp_body_title{
    margin-top: 2rem;
}
.symtomp_body_title .welcome{
font-size: 24px;
font-weight: 500;
letter-spacing: 0em;
text-align: center;
color: var(--blue);
text-transform: uppercase;
}
.symtomp_body_title .title_main{
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: center;
color: var(--blue);
text-transform: uppercase;
}
.symtomp_body_title .share_get_div p{
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: var(--black30);
}
.minimum_share{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: var(--black30);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: left;
    margin-left: 1rem;
}
.symtomp_body_content .symtomp_select_group{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .5;
}
.symtomp_select_group .symtomp_select{
    width: 100%;
    text-align: left;
    padding: 1rem !important;
}

/* Live search css starts */
.select2-container{
    display: unset;
}
.select2-selection{
    position: relative;
}
.select2-container--default .select2-selection--single{
    padding-top: .4rem;
    padding-bottom: .4rem;
    height: fit-content;
    border-radius: .5rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-top: 2px;
}
/* Live Search css end */
.select2-container .select2-selection--single .select2-selection__rendered{
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
}

.symtomp_select .select_main{
    width: 100%;
    padding: 1rem !important;
    border-radius: .3rem;
    opacity: .7;
    background: transparent;
    outline-color: transparent;
    border: 1px solid var(--blue);
}
.symtomp_select .select_main:focus{
    opacity: 1;
    outline: 1px solid var(--blue);
}
.symtomp_select .symtomp_number{
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.symtomp_select .select_main :active{
    opacity: 1;
}
.symtomp_select .select_main option:hover{
    background: #000000;
    color: var(--light_white);
}
.symtomp_select_form .symtomp_select_btns{
    margin-top: 3rem;
}
.symtomp_select_btns .select_confirm{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--black30);
    margin-bottom: 1rem;
}
.symtomp_select_btns .s_select_btns .select_btn{
    border: .1rem solid var(--blue);
    border-radius: .5rem;
    background: var(--blue);
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    transition: all .3rem;
    padding: 0.6rem 1.5rem;
    margin: auto 1rem;
}
.symtomp_select_btns .s_select_btns .select_btn:hover{
    background: var(--white);
    color: var(--blue);
}
.select_btn.yes{
    color: var(--blue) !important;
    background: var(--white) !important;
}
.select_btn.yes:hover{
    color: var(--white) !important;
    background: var(--blue) !important;
}
/*---------- Predict Popup -------------*/
.symtomp_popup{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(24, 25, 90, .3);
    width: 100vw;
    height: 100vh;
}
.symtomp_popup .symtomp_popup_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    padding: 1.5rem;
    border-radius: .5rem;
}
.symtomp_popup_inner .popup_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}
.popup_header .popup_depertment{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
}

.popup_header .dep_popup_close{
    border: .1rem solid var(--blue);
    background: var(--blue);
    outline-color: transparent;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    border-radius: .5rem;
    transition: all .3s;
}

.popup_header .dep_popup_close i{
    color: var(--white);
    font-size: 1.2rem;
    transition: all .3s;
}
.popup_header .dep_popup_close:hover{
    background: var(--white);
}
.popup_header .dep_popup_close:hover i{
    color: var(--blue);
}
.popup_body .popup_label{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-top: 2rem;
}
.popup_body .popup_input{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--blue);
    outline-color: transparent;
    border-color: transparent;
    background: #f4f4f4;
    width: 360px;
    height: 52px;
    line-height: 52px;
    border-radius: .5rem;
}
.popup_body .popup_input::placeholder{
    color: var(--blue);
}
.popup_body .consult_with{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--blue);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.popup_body .inner_btns{
    text-align: center;
}
.popup_body .inner_btns button{
    background: var(--blue);
    color: var(--white);
    outline-color: transparent;
    border: .1rem solid var(--blue);
    border-radius: .5rem;
    padding: 0.4rem 2rem;
    font-size: 14px;
    font-weight: 700;
    margin: auto .5rem;
    transition: all .3s;
}
.popup_body .inner_btns .btn_no{
    background: var(--white) !important;
    color: var(--blue) !important;
    transition: .3s;
}
.popup_body .inner_btns .btn_no:hover{
    background: var(--blue) !important;
    color: var(--white) !important;
}
.popup_body .inner_btns button:hover{
    background: var(--white);
    color: var(--blue);
}
.popup_body .popup_footer{
    margin-top: 2rem;
    padding-top: 1.6rem;
    border-top: 1px solid #D9D9D9;
}
.popup_footer .p_footer_title{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: var(--blue);
}
.popup_footer .p_footer_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    padding: .4rem;
    border: 1px solid var(--blue);
    border-radius: .5rem;
    transition: all .3s;
}
.popup_footer .p_footer_btn .footer_btn_text{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: var(--blue);
    margin-bottom: 0;
    border-left: 1px solid var(--blue);
    padding: .5rem 1rem;
}
.popup_footer .p_footer_btn i{
    font-size: 1.5rem;
    color: var(--blue);
    padding: .5rem;
}
.popup_footer .p_footer_btn:hover{
    background: var(--blue);
}
.popup_footer .p_footer_btn:hover .footer_btn_text{
    color: var(--white);
    border-color: var(--white);
}
.popup_footer .p_footer_btn:hover i{
    color: var(--white);
}

/*============= Symtomp History ================*/
.minimum_share_history{
    font-weight: 700 !important;
    font-size: 1rem !important;
    text-transform: uppercase;
}
.symtomp_body_inner .s_history_table{
    width: 100%;
}
.s_history_table .history_table{
    width: 100%;
    border-top: 1px solid #e1e2e9;
    border-bottom: 1px solid #e1e2e9;
}
.s_history_table .history_table .h_table_head tr{
    height: 3.2rem;
    line-height: 3rem;
    border-bottom: 1px solid #e1e2e9;
}
.s_history_table .history_table tbody tr{
    height: 3.2rem;
    line-height: 3rem;
}
.h_table_head tr th{
    font-size: 14px;
    font-weight: 700;
    color: #2C2D33;
    text-transform: uppercase;
}
.h_table_body tr td{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #45464E;
}
.h_table_body tr td a{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #1B5A90;
    text-decoration: none;
    border-bottom: .1rem solid #1B5A90;
    transition: .3s;
}
.h_table_body tr td a:hover{
    color: #000000;
    border-color: #000000;
}
.s_history_table .history_table input[type=checkbox]{
    width: 1.2rem;
    height: 1.5rem;
    border-radius: .5rem;
    background: #CFD3D4;
}

.symtomp_body_inner .table_more_info{
    margin-top: 1rem;
}
.table_more_info form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
.t_more_left .left_select{
    background: #5E636614;
    border-color: transparent;
    color:#8B8D97;
    font-size: 12px;
    padding: .2rem .5rem;
    border-radius: .5rem;
}
.t_more_left .left_item{
    color:#8B8D97;
    font-size: 14px;
    font-weight: 400;
    margin: auto 1rem;
}
.t_more_left .left_count{
    color:#8B8D97;
    font-size: 14px;
    font-weight: 400;
}
.t_more_left .left_total{
    color:#8B8D97;
    font-size: 14px;
    font-weight: 400;
}
.t_more_right .right_select{
    background: #5E636614;
    border-color: transparent;
    color:#8B8D97;
    font-size: 12px;
    padding: .2rem .5rem;
    border-radius: .5rem;
}
.t_more_right .right_total{
    color:#8B8D97;
    font-size: 14px;
    font-weight: 400;
    margin: auto .5rem;
}
.t_more_right button{
    outline: transparent;
    border-color: transparent;
    background: transparent;
    border-radius: .5rem;
    padding: .1rem .5rem;
    transition: all .3s;
}
.t_more_right button i{
    font-size: .8rem;
    color: #8B8D97;
}
.t_more_right button:hover i{
    color: var(--blue);
}
.symtomp_history_body{
    padding-bottom: 1rem;
}
.history_popup_body{
    margin-top: 2rem;
}
.history_popup_body p{
    font-size: 14px;
    font-weight: 600;
    color: var(--blue);
    text-align: left;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    border-radius: .5rem;
    background: transparent;
    border: 1px solid var(--blue);
    padding: 0 .6rem;
}
.history_popup_inner{
    width: 90vw;
    max-width: 480px;
    margin: auto;
    max-height: 90vh;
    overflow-y: auto;
}
.history_popup_btn button{
    background: var(--blue);
    border: .1rem solid var(--blue);
    border-radius: .5rem;
    outline-color: transparent;
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    transition: all .3s;
}
.history_popup_btn button:hover{
    background: var(--white);
    color: var(--blue);
}
.popup_header{
    position: sticky;
    top: -1.5rem;
    padding: 1rem 0;
    background: var(--white);
}

/*========== Patien Profile =============*/
.main .patient_content{
    background: var(--blue);
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
}
.patient_content .patient_content_inner{
    height: 100vh;
    max-width: 100%;
    overflow-y: auto;
}
.p_header_right_ul{
    margin: 0;
}
.p_header_right_ul .p_header_li{
    margin-left: 2rem;
}
.p_header_right_ul .p_header_li:first-child{
    margin-left: unset;
}
.p_header_right_ul .p_header_li a{
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
    transition: all .3s;
    opacity: .5;
}
.p_header_right_ul .p_header_li a:hover{
    opacity: 1;
}
.p_header_left .p_header_top{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--black);
    opacity: .9;
}

.patient_box .patient_box_inner{
    border-radius: .5rem;
    background: var(--white);
    padding: 1rem;
    text-align: center;
}
.patient_box_inner .p_box_top{
    padding: 1rem;
    text-align: center;
}
.p_box_top .patient_name{
    width: fit-content;
    margin: .7rem auto;
}
.p_box_top .patient_img{
    margin-bottom: 1rem;
}
.p_box_top .patient_subtitle span{
    font-size: 12px;
    font-weight: 700;
    opacity: .5;
    margin: .2rem;
}
.p_box_bottom table{
    width: 100%;
    border-top: .5px solid rgba(0, 0, 0, .2);

}
.p_box_bottom table tr td{
    border-right: .5px solid rgba(0, 0, 0, .2);
    padding-top: 1rem;
}
.p_box_bottom table tr td:last-child{
    border-right: unset;
}
.p_box_bottom table tr td h5{
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
    opacity: .8;
}
.patient_content_inner .patient_content_body{
    margin: 1rem;
}
.patient_header .p_left_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
}
/* patient left */
.p_Allergies_box .p_Allergies_box_ul1{
    padding: 1rem 0;
}
.p_Allergies_box .p_Allergies_box_ul1 li{
    border-top: 1px solid rgba(0, 0, 0, .5);
    padding: 1rem 0;
}
.patient_box_inner .p_Allergies_box{
    padding: 2rem 0;
}
.patient_box_inner .p_Allergies_box_btns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5rem;
    margin: 2rem 0;
}
.p_Allergies_box_btns .p_add_btn{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    background: var(--blue);
    padding: 0.2rem 2rem;
    border-radius: .3rem;
    transition: all .3s;
    border: 1px solid var(--blue);
}
.p_Allergies_box_btns .p_add_btn:hover{
    background: var(--white);
    color: var(--blue);
}
.p_Allergies_box_btns .p_edit_btn{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--blue);
    background: var(--white);
    padding: 0.2rem 1.2rem;
    border-radius: .3rem;
    transition: all .3s;
    border: 1px solid var(--white);
}
.p_Allergies_box_btns .p_edit_btn i{
    font-size: 14px;
    color: var(--blue);
    margin-left: .5rem;
}
.p_Allergies_box_btns .p_edit_btn:hover{
    border-color: var(--blue);
}

/* Patient middle */
.patient_heart_inner .p_body_watermar{
    padding: 1.5rem;
    position: relative;
    background: url('../images/patient_profile/HUMAN\ 1.png');
    background-repeat: no-repeat;
    background-position-x: center;
}
.patient_heart_rate .heart{
    background: var(--white);
    border-radius: .5rem;
}
.p_body_top_left .p_content_big{
    font-size: 2rem;
    font-weight: 700;
    color: var(--black30);
}
.p_body_rate_bottom table tr td{
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding-top: 1rem;
}
.p_body_rate_bottom table tr td .p_content_bold{
    text-align: center;
}
.p_body_rate_bottom table tr td .p_light_small{
    text-align: center;
}
.p_body_rate_bottom table tr td:last-child{
    border-right: unset;
}
.p_body_activity_chart{
    width: 100%;
    height: fit-content;
    background: #f1f1f1;
    border-radius: .5rem;
    margin-top: 1rem;
    padding: 1.4rem;
}
.p_body_activity_chart .p_activity_title{
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
    opacity: .5;
}
.p_body_activity_chart .p_activity_footer span{
    font-size: 12px;
    font-weight: 700;
    color: var(--black);
    opacity: .9;
    margin-right: 2.5rem;
}
.p_body_activity_chart .p_activity_footer button{
    font-size: 14px;
    font-weight: 700;
    color: var(--black);
    opacity: .9;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    padding: 0.1rem .5rem;
    margin-right: 2.5rem;
}
.p_body_activity_chart .p_activity_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    margin: 1rem auto;
    width: 100%;
    height: 180px;
}
.p_activity_box .p_activity_range{
    width: fit-content;
    height: 100%;
}
.p_activity_range .p_range_value{
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    opacity: .5;
    margin-bottom: 0;
    line-height: 400%;
}
.p_activity_box .p_activity_column{
    width: 90%;
    display: flex;
    height: 100%;
    align-items: flex-end;
}
.p_column_single_activity{
    background: linear-gradient(180deg, #3F8FDF 0%, #1A395A 100%);
    margin-right: 1.5rem;
    width: 6%;
}
.p_column_single_activity.h45{
    height: 45%;
}
.p_column_single_activity.h50{
    height: 50%;
}
.p_column_single_activity.h40{
    height: 40%;
}
.p_column_single_activity.h90{
    height: 90%;
}
.p_column_single_activity.h95{
    height: 95%;
}
.p_column_single_activity.h85{
    height: 85%;
}
.p_column_single_activity.h60{
    height: 60%;
}
.p_column_single_activity.h62{
    height: 62%;
}

/* P Blood Label */
.p_body_blood_labels .p_blood_label_inner{
    background: var(--white);
    width: 100%;
    border-radius: .5rem;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    height: 260px;
}
.p_blood_label_inner .blood_chart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p_blood_label_inner .blood_labels_title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    opacity: .5;
}
.blood_chart_single .blood_chart_top{
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    opacity: .5;
    text-align: center;
    margin: auto;
}
.blood_chart_single .blood_chart_bottom{
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    opacity: .9;
    text-align: center;
    margin-bottom: 0;
}
.blood_chart_single .blood_chart_column{
    width: 2rem;
    height: 8.5rem;
    background: #EAEEF1;
    margin: 0.5rem auto;
    border-radius: .5rem;
    position: relative;
}
.blood_chart_single .blood_chart_column.h55::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 56%;
    background: linear-gradient(#3F8FDF, #3272B3);
    left: 0;
    bottom: 0;
    border-radius: .5rem;
}
.blood_chart_single .blood_chart_column.h43::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 43%;
    background: linear-gradient(#3881C8, #1A395A);
    left: 0;
    bottom: 0;
    border-radius: .5rem;
}
.blood_chart_single .blood_chart_column.h73::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 73%;
    background: linear-gradient(#3F8FDF, #2B649C);
    left: 0;
    bottom: 0;
    border-radius: .5rem;
}
.blood_chart_single .blood_chart_column.h52::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 52%;
   background: linear-gradient(#3F8FDF, #2B649C);
    left: 0;
    bottom: 0;
    border-radius: .5rem;
}
.blood_chart_single .blood_chart_column.h69::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 69%;
    background: linear-gradient(#3F8FDF, #142C44);
    left: 0;
    bottom: 0;
    border-radius: .5rem;
}

/*========= Patient right ==========*/
.patient_right_inner_row .patient_bp{
    background: var(--white);
    border-radius: .5rem;
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
    padding: 1.6rem 1rem;
}
.patient_bp .p_bp_content{
    width: fit-content;
    margin: auto;
    text-align: center;
}
.patient_bp .heart_bit{
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.p_bp_bottom img{
    margin-top: 1.5rem;
}
.patient_right_inner_row .patient_oxigen{
    background: var(--white);
    border-radius: .5rem;
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 1rem;
}
.patient_oxigen .p_oxigen_content{
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 2rem;
}
.patient_oxigen .pocb{
    border-top: 1px solid #ddd;
}
.p_oxigen_content .p_content_bold{
    text-align: center;
}
.p_oxigen_content img{
    margin-top: 1rem;
}
.patient_right_inner_row .patient_body_activity{
    background: var(--white);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}
.patient_body_activity .body_activity{
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
}
.patient_body_activity .activity_para{
    font-size: 12px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    opacity: .5;
}
.patient_body_activity .body_activity_bnt{
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    background: var(--black);
    border-color: transparent;
    outline: none;
    border-radius: .3rem;
    padding: 0.1rem 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.patient_body_activity .pbaimg{
    text-align: center;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.patient_body_activity .pbaimg span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-weight: 700;
}
/*============ Responsive Started ===================*/

/* Max-width 1400px */
@media (max-width: 1400px) {
    .hospital_content_header .hospital_profile{
        width: 10%;
    }
    .hospital_content_header .hospital_search{
        width: 90%;
    }
    .p_body_activity_chart .p_activity_footer span{
        margin-right: 1.5rem;
    }
}

/* Max-width 1200px */
@media (max-width: 1200px) {
    .hospital_content_header .hospital_profile{
        width: 12%;
    }
    .hospital_content_header .hospital_search{
        width: 88%;
    }
}

/* Max-width 1100px */
@media (max-width: 1100px) {
    .hospital_content_header .hospital_search{
        margin-right: 1rem;
    }
    .hospital_content_header .hospital_profile{
        width: 14%;
    }
    .hospital_content_header .hospital_search{
        width: 86%;
    }
    .p_body_activity_chart .p_activity_footer span {
        margin-right: 1rem;
    }
    /* Symptom History */
    .s_history_table .history_table input[type="checkbox"]{
        width: 1rem;
        height: 1rem;
    }
    .h_table_body tr td{
        font-size: 13px;
    }
    .h_table_head tr th{
        font-size: 13px;
    }
    .symtomp_body_inner .s_history_table{
        overflow-x: auto;
    }
    .s_history_table .history_table{
        width: 900px !important;
        overflow: auto;
    }
    /* Symptom */
    .symtomp_body_content .symtomp_select_group{
        grid-template-columns: auto auto;
    }
}

/* Max-width 992px */
@media (max-width: 992px) {
    .main_content{
        margin-left: -1.5rem;
    }
    .symtomp_header .symtomp_h_form_div form{
        margin-left: 2rem;
    }

    /* Hospital page */
    .hospital_content_header .hospital_search{
        width: 100%;
    }

    /* Patient profile for 992 px */
    .p_header_right_ul .p_header_li{
        margin-left: 1.9rem;
    }
    .p_body_activity_chart .p_activity_footer span {
        margin-right: 2rem;
    }
    .p_body_activity_chart .p_activity_footer button {
        margin-right: 2rem;
    }
}

@media (max-width: 850px) {
    .p_body_activity_chart .p_activity_footer span {
        margin-right: 1rem;
    }
    .p_body_activity_chart .p_activity_footer button {
        margin-right: 1rem;
    }
}


/* Max-width 767px */
@media (max-width: 767px) {
    /* Symptom page */
    .symtomp_body_title .title_main{
        font-size: 30px;
    }
    .hospital_content_header .hospital_profile{
        width: 17%;
    }
    .hospital_content_header .hospital_search{
        width: 83%;
    }
    

    /* Hospital page */
    .h_list_ul .h_list_single{
        position: relative;
        margin: 1rem;
    }
    .h_list_single .h_single_content{
        margin-bottom: 2rem;
    }
    .h_single_rating .h_rating_btn{
        position: absolute;
        left: 1rem;
        bottom: 2rem;
    }

    /* Patient profile for 768px */
    .patient_header{
        flex-direction: column;
        row-gap: .5rem;
    }
    .p_column_single_activity{
        margin-right: 1rem;
    }
    .p_body_activity_chart .p_activity_footer button {
        margin-right: .5rem;
        font-size: 10px;
    }
    .p_body_activity_chart .p_activity_footer span{
        font-size: 10px;
    }
}
@media (max-width: 650px) {
    .symtomp_body_content .symtomp_select_group{
        grid-template-columns: auto;
        margin: auto 3rem;
    }
    .p_body_activity_chart .p_activity_footer span{
        margin-right: 0.5rem;
    }
    .p_column_single_activity{
        margin-right: 0.7rem;
    }
}

/* Max-width 576px */
@media (max-width: 576px) {
    /* symptom page */
    .symtomp_body_title .title_main{
        font-size: 25px;
    }
    .hospital_content_header .hospital_profile{
        width: 20%;
    }
    .hospital_content_header .hospital_search{
        width: 80%;
    }
    .symtomp_body_content .symtomp_select_group{
        margin: auto 2rem;
    } 

    /* Hospital page */
    .h_single_content .h_photo_data{
        flex-direction: column;
        width: 100%;
    }
    .h_single_content .h_photo_data .h_photo{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .h_photo_data .h_data{
        margin: auto;
        text-align: center;
    }
    .h_photo_data .h_data .h_single_locate_div{
        width: fit-content;
        text-align: center;
        margin: auto;
    }
    
    .h_data .h_doctor_div{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
    .h_single_locate_div p{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /* Patient Profile for 576px */
    .hospital_content_header.patient_header{
        padding-right: -1rem;
        margin-right: 0;
    }
    .p_header_right_ul .p_header_li{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .p_header_right .p_header_right_ul{
        padding-left: 0;
    }
    .offcanvas_toggle_btn i{
        font-size: 1.2rem;
    }
    .patient_right_inner_row{
        margin-top: .5rem;
    }
}
/* Max-width 500px */
@media (max-width: 500px) {
    /*Symptom Page */
    .symtomp_content .symtomp_header{
        flex-direction: column-reverse;
    }
    .symtomp_body_content .symtomp_select_group{
        margin: auto;
    } 

    /* Hospital page */
    .hospital_content_header .hospital_profile{
        width: 100%;
        margin-bottom: 2rem;
    }
    .hospital_content_header .hospital_search{
        width: 100%;
        margin-left: unset;
    }
    .symtomp_header .symtomp_h_form_div form {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .hospital_header_main .hospital_content_header{
        flex-direction: column-reverse;
        padding-bottom: 0;
    }
    .hospital_header_main .patient_header{
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .offcanvas-header button i{
        font-size: 1rem;
    }
    #myoffcanvas .logo_div a{
        max-width: 10rem;
    }
    .symtomp_body_inner .symtomp_body_title{
        margin-top: 1rem;
    }
    .symtomp_body_title .share_get_div p, .minimum_share{
        font-size: 14px;
    }
    .hospital_content_header .offcanvas_toggle_btn {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    .hospital_header_main .hospital_content_header .offcanvas_toggle_btn {
        left: 2rem;
    }

    /* Patient profile for 500px */
    .p_header_left .p_header_top{
        font-size: 1.2rem;
    }
    .p_header_right_ul .p_header_li{
        margin-right: 0;
    }
}


@media (max-width: 420px) {
    .patient_header .p_left_header .offcanvas_toggle_btn{
        margin-top: 2.2rem;
    }
    .p_header_right .p_header_right_ul{
        padding-left: 1.5rem;
    }
}

@media (max-width: 369px) {
    .p_header_right .p_header_right_ul li{
        margin-left: 0.8rem;
    }
}